*{
    margin: 0;
    padding: 0;
}

/*SEVERAL PAGES*/
div{
    font-family: pokemon;
    font-size: 1.2em;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: pokemon;
    src: url(Pokemon_Generation_1_Regular/pokemon_generation_1.ttf) format("truetype");
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
}
.linkedin{
    text-decoration: none !important;
}

/*NAV*/

.pagelink2{
    text-decoration: none !important;
    color: black;
    margin-top: 100px !important;
}
.pagelink2:hover{
    color: black !important;
}
nav{
    border: 5px solid #004271;
    width: 100%;
    position: fixed !important;
    height: 70px;
    z-index: 2;
    background-color: white;
    
}
.nav-item{
    font-size: .5em !important;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
}
.linkarrow{
    height: 30px;
    visibility: hidden;
    margin-bottom: 10px;
}

/*280 — 480px: Mobile devices*/
@media only screen and (min-width: 280px) and (max-width: 480px){
    .nav-item{
        border-left: 5px solid #004271;
        border-right: 5px solid #004271;
        border-bottom: 5px solid #004271;
    }
    .homelink{
        border-top: 5px solid #004271;
    }
 }
     
 /*481px — 768px: iPads, Tablets*/
 @media only screen and (min-width: 481px) and (max-width: 768px){
    .nav-item{
        border-left: 5px solid #004271;
        border-right: 5px solid #004271;
        border-bottom: 5px solid #004271;
    }
    .homelink{
        border-top: 5px solid #004271;
    }
 }
     
 /*769px — 991px: To give nav items an outline until Bootstrap breakpoint is reached*/
 @media only screen and (min-width: 769px) and (max-width: 991px){
    .nav-item{
        border-left: 5px solid #004271;
        border-right: 5px solid #004271;
        border-bottom: 5px solid #004271;
    }
    .homelink{
        border-top: 5px solid #004271;
    }
 }

/*FOOTER*/

footer{
    border: 5px solid #004271;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
}
.phone{
    text-decoration: underline;
    color: black;
    font-size: .8em;
    margin-left: -5px;
    transition: .25s;
}
.phone:hover{
    color: #004271;
}
.bottom{
    text-align: center;
}
.copy{
    padding: 5px;
    font-size: .7em;
}
.phonepic{
    width: 20px;
    height: 30px;
}


/*HOME*/

.upper{
    position: relative;
    height: 70vh;
    width: 100%;
}
.foe{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 23vh;
    margin-top: 2vh;
    text-align: right;
    padding-right: 20px;
    border: 5px solid black;
    margin-left: 5%;
    animation: move4;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes move4{
    0%{
        left: 100vw;
    }
}
.foesprite{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 40vh;
    animation: move3;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes move3{
    0%{
        right: -100vw;
    }
}
.playersprite{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 50%;
    height: 45vh;
    animation: move2;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes move2{
    0%{
        left: -100vw;
    }
}
.player{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 23vh;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 5px solid black;
    margin-right: 5%;
    animation-name: move1;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes move1{
    0%{
        right: 100vw;
    }
}
.lower{
    height: 30vh;
    position: absolute;
    height: 30vh;  
    width: 100%;
    bottom: 0;
}
.script{
    width: 60%;
    height: 30vh;
    left: 0;
    position: absolute;
    border: 5px solid #004271;
    box-sizing: border-box;
}
.scripttext{
    animation: appear;
    animation-duration: 2s;
    animation-timing-function: linear;
    visibility: visible;
    font-size: 1em;
    padding: 6%;
}
.action{
    width: 40%;
    height: 30vh;
    right: 0;
    position: absolute;
    border-top: 5px solid #004271;
    border-right: 5px solid #004271;
    border-bottom: 5px solid #004271;
    box-sizing: border-box;
}
.pagelink{
    text-decoration: none !important;
    color: black;
    animation: appear;
    animation-duration: 2s;
    animation-timing-function: linear;
    visibility: visible;
}
@keyframes appear{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
td{
    width: 50%;
}
table{
    width: 100%;
    height: 100%;
}
.hp-bar{
    height: 20px;
    width: 300px;
    background-color: green;
    border: 1px black solid;
    border-radius: 16px;
    display: inline-block;
}
.portrait{
    height: 175px;
    width: 175px;
    border-radius: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.social{
    width: 30px;
    height: 30px;
    text-decoration: none !important;
}
.icons{
    text-align: center;
}
.trainer{
    height: 100%;
}
.info{
    padding: 1px;
}
.arrowhome{
    height: 30px;
    visibility: hidden;
}


/*280 — 480px: Mobile devices*/
@media only screen and (min-width: 280px) and (max-width: 480px){
    .portrait{
        height: 100px;
        width: 100px;
    }
    div{
        font-size: 1em;
    }
    .hp-bar{
        width: 100px;
    }
    .playersprite{
        height: 150px;
        width: 150px;
        bottom: 23%;
        left: 5%;
    }
    .foe{
        height: 17vh;
    }
    .player{
        margin-right: 10px;
        width: 40%;
        height: 17vh;
        bottom: 23%;
    }
    .script{
        width: 100%;
        position: static;
        height: auto;
    }
    .action{
        position: static;
        border-left: 5px solid #004271;
        border-top: none;
        width: 100%;
        font-size: .75em;
        height: auto;
    }
    .lower{
        height: auto;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .portrait{
        width: 125px;
        height: 125px;
    }
    .icons{
        margin-left: 0;
    }
    div{
        font-size: 1.25em;
    }
    .hp-bar{
        width: 100px;
    }
    .playersprite{
        height: 150px;
        width: 150px;
        padding: 0;
        margin-bottom: 60px;
    }
    .player{
        margin-right: 10px;
        margin-bottom: 60px;
        width: 40%;
    }
    .mobinfo{
        visibility: visible;
    }
    .emp{
        visibility: hidden;
    }
    .script{
        width: 100%;
        position: static;
        height: auto;
    }
    .action{
        position: static;
        border-left: 5px solid #004271;
        border-top: none;
        width: 100%;
        font-size: .75em;
        height: auto;
    }
    .lower{
        height: auto;
    }
}
    
/*769px — 1099px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1099px){
    .playersprite{
        height: 300px;
        width: 300px;
    }
    .action{
        width: 50%;
        font-size: 1em;
    }
    .script{
        width: 50%;
    }
}
/*1025px — 1280px: Desktops, Large Screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    
}

/*ABOUT ME*/

.description{
    position: relative;
    border-left: 5px solid #004271;
    border-right: 5px solid #004271;
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}
.about{
    padding: 20px;
    font-size: 1.5em;
    border-left: 5px solid #004271;
    border-right: 5px solid #004271;
    border-top: 5px solid #004271;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 2em;
}
.statlist{
    list-style-type: circle !important;
    margin-left: 20px;
}
.headshot{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0%;
}
.left{
    justify-content: center;
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
}
.right{
    position: absolute;
    top: 50px;
    right: 50px;
}
li{
    padding: 5px;
    list-style-type: none;
}
.pad{
    padding-top: 70px;
}
.percent{
    font-family: 'Press Start 2P', cursive;
    display: inline;
    font-size: .75em;
}
/*280 — 480px: Mobile devices*/
@media only screen and (min-width: 280px) and (max-width: 480px){
   .right{
       position: static;
   }
   .left{
    width: 100%;
    padding-top: 10px;
    }
    .description{
        height: auto;
        padding-bottom: 10px;
    }
    .num{
        text-align: center;
        margin: 0;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .right{
        position: static;
    }
    .left{
    width: 100%;
    padding-top: 10px;
     }
    .description{
         height: auto;
         padding-bottom: 10px;
    }
    .num{
        text-align: center;
        margin: 0;
    }
}
    
/*769px — 1099px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1099px){
    .right{
        position: static;
    }
    .left{
        width: 100%;
        padding-top: 10px;
     }
    .description{
         height: auto;
         padding-bottom: 10px;
    }
    .num{
        text-align: center;
        margin: 0;
    }
}


/*PROJECTS*/

.projects{
    padding-top: 70px;
    border-left: 5px solid #004271;
    border-right: 5px solid #004271;
    box-sizing: border-box;
}
th{
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}
.projpic{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

/*CONTACT*/

.contact{
    padding-top: 70px;
    min-height: 100vh;
    border-left: 5px solid #004271;
    border-right: 5px solid #004271;
}
form{
    width: 60% !important;
    margin-left: 20% !important;
    margin-top: 50px !important;
    font-size: .5em;
}
input{
    margin-bottom: 20px !important;
    font-family: 'VT323', monospace !important;
    font-size: 1.5em !important;
}
textarea{
    margin-bottom: 10px !important;
    font-family: 'VT323', monospace !important;
    font-size: 1.5em !important;
}
.pixelhead{
    width: 30vh;
    height: 30vh;
    margin: auto;
    display: block;
}
.pagecontainer{
    position: relative;
    min-height: 100vh;
}
.contentwrap{
    padding-bottom: 125px; 
}

/*280 — 480px: Mobile devices*/
@media only screen and (min-width: 280px) and (max-width: 480px){
    form{
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 50px !important;
        font-size: 1em;
    }
  }
      
  /*481px — 768px: iPads, Tablets*/
  @media only screen and (min-width: 481px) and (max-width: 768px){
    form{
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 50px !important;
        font-size: .75em;
    }
  }
  /*769px — 1000px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1000px){
    form{
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 50px !important;
        font-size: .75em;
    }
}
      

/*INDIVIDUAL PROJECT PAGES*/

.projdesc{
    border-right: 5px solid #004271;
    border-left: 5px solid #004271;
    padding-top: 70px;
    min-height: 100vh;
}
.sitepic{
    width: 60%;
    margin-left: 20%;
}
.descwrap{
    margin-top: 50px;
    padding: 20px;
    font-family: 'VT323', monospace;
    font-size: 1.5em;

}
.date{
    text-align: center;
}
.sitelink{
    text-decoration: underline;
    color: black;
}
.sitelink:hover{
    color: #004271;
}

/*280 — 480px: Mobile devices*/
@media only screen and (min-width: 280px) and (max-width: 480px){
    .sitepic{
        width: 100%;
        margin: 0;
    }
  }
      
